* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  padding: 2rem;
  border: solid black 10px;
}

.main-title {
  text-align: left;
  font-size: 1.5em;
  padding: 10px;
  color: darkgreen;
}

.header {
  text-align: left;
  margin-bottom: 2rem;
  background-color: tan;
  display: flex;
  flex-direction: row;
}

.header p {
  text-align: left;
  font-size: 1em;
  padding: 5px;
  color: darkgreen;
}

.headerleft {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.grid-item {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.grid-item h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.grid-item button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.grid-item button:hover {
  background-color: #0056b3;
}

.output {
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 0.5rem;
}

#weather-output table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  font-size: small;
}

#weather-output th,
td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

#weather-output thead {
  background-color: #f4f4f4;
  font-weight: bold;
}

.gitpresent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.ChuckNorris {
  background-color: lightgray;
  color: red;
  font: bold;
  font-size: large;
  font-weight: bolder;
}
/*.ChuckNorris::before {
  content: "";
  color: white;
  font: bold;
  font-size: large;
  font-weight: bolder;
}*/
