* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  padding: 2rem;
  border: solid black 10px;
}

.main-title {
  font-size: 1.5em;
  padding: 5px;
}

.header {
  margin-bottom: 2rem;
  background-color: khaki;
  display: flex;
  flex-direction: row;
  gap: 100px;
  color: green;
  border: solid darkgreen;
  align-items: center;
  box-shadow: 2px 2px 5px green;
}

.header p {
  font-size: 1em;
  padding: 5px;
}

.headerleft {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.headerright {
  margin-left: auto;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
}
.headerright img {
  justify-content: right;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  width: 150px;
  height: 75px;
  border: solid darkgreen;
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.grid-item {
  background: tan;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px green;
  /*box-shadow: inset 0 0 15px 5px lightgreen;*/
  justify-content: center;
}

.grid-item h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.grid-item button {
  padding: 0.5rem 1rem;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.grid-item button:hover {
  background-color: green;
}

.output {
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 0.5rem;
}

#weather-output table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  font-size: small;
  background-color: khaki;
}

#weather-output th,
td {
  border: 1px solid darkgreen;
  padding: 2px;
  text-align: center;
}

#weather-output thead {
  background-color: #f4f4f4;
  font-weight: bold;
}

.gridadjusting {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

#currency-output {
  text-align: center;
}

.gitpresent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.ChuckNorris {
  background-color: khaki;
  color: green;
  font: bold;
  font-size: large;
  font-weight: bolder;
  padding: 5px;
  border-radius: 10px;
}

.noun-card {
  background-color: khaki;
  padding: 5px;
  border-radius: 10px;
}

.movie-card {
  background-color: khaki;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none !important;
}

.finalcurrency {
  background-color: khaki;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
